:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --nav-text-color: #c4ff64;
  --nav-text-hover-color: #caff74;
  --theme-button-color: #1a1a1a;
  --theme-button-hover-color: #c4ff64;

}

[data-theme="light"] {
  background-color: #f2ffde;
  --nav-text-color: #000;
  --nav-text-hover-color: #202020;
  --theme-button-color: #f2ffde;
  --theme-button-hover-color: #515151;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  position: relative;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  font-weight: 500;
  color: var(--nav-text-color);
  text-decoration: inherit;
}

a:hover {
  color: var(--nav-text-hover-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--theme-button-color);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--theme-button-hover-color);
}